.about {
  background-color: $white;
  padding-top: 186px;

  &__content {
    max-width: 1180px;
    margin: auto;
  }

  &__text {
    font-family: 'Halyard Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $grey-text;
    margin: 0 0 48px;

    @media (max-width: 1280px) {
      padding: 0 10px;
    }
  }

  &__title {
    max-width: 500px;
    font-family: 'Halyard Display';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: $font-blue;
    margin: 162px auto 122px;

    @media (max-width: 1280px) {
      padding: 0 10px;
      line-height: 50px;
    }

    @media (max-width: 1024px) {
      margin: 80px auto 62px;
      line-height: 40px;
    }

    @media (max-width: 728px) {
      font-size: 36px;
      margin: 50px auto 42px;
    }

    @media (max-width: 420px) {
      font-size: 26px;
      margin: 40px auto 22px;
    }
  }

  &__benefits {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1280px) {
      padding: 0 10px;
    }

    @media (max-width: 924px) {
      justify-content: center;
    }
  }

  &__image {
    margin-top: -250px;

    @media (max-width: 924px) {
      display: none;
    }
  }
}
