.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 18px 36px;
  border-radius: 100px;
  font-family: "Halyard Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
  width: max-content;
  z-index: 3;

  @media (max-width: $tablet) {
    padding: 0 16px;
    line-height: 40px;
  }

  &--white {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    color: $light-blue;

    &:after {
      background-color: $white;
    }

    &:before {
      background-color: $light-blue;
    }
  }

  &--blue {
    color: $white;

    &:after {
      background-color: $blue-bg;
    }

    &:before {
      background-color: darken($blue-bg, 10%);
    }
  }

  &--small {
    padding: 0 16px;
    line-height: 40px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 100px;
    z-index: -1;
  }

  &:hover {
    color: $white;

    &:before {
      width: 100%;
    }
  }
}
