.header {
  display: flex;
  align-items: center;
  max-width: 1180px;
  height: 80px;
  margin: 0 auto;

  @media (max-width: 728px) {
    &__logo {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__number {
    font-family: 'Halyard Text', sans-serif;
    font-weight: 400;
    color: $font-blue;
    font-size: 16px;
    line-height: 80px;
    margin-right: 34px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  @media (max-width: $notebook) {
    position: relative;
    width: 100%;
    padding: 0 20px;
  }
}
