.introduction {
  width: 100%;
  max-height: 720px;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #f2f9ff 100%
  );

  @media (max-width: $tablet) {
    max-height: 420px;
  }

  @media (max-width: $mobile) {
    max-height: 350px;
  }

  &__content {
    max-width: 1180px;
    margin: auto;
  }

  &__title {
    font-family: "Halyard Display", sans-serif;
    color: $font-blue;
    font-size: 56px;
    line-height: 105%;
    text-align: center;
    margin: 146px auto 0;

    @media (max-width: $tablet) {
      font-size: 36px;
      margin: 30px auto 0;
    }

    @media (max-width: $mobile) {
      font-size: 26px;
      margin: 20px auto 0;
    }
  }

  &__text {
    font-family: "Halyard Text", sans-serif;
    color: $light-blue;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 28px;

    @media (max-width: $tablet) {
      font-size: 14px;
    }
  }

  &__buttons {
    display: flex;
    gap: 22px;
    width: max-content;
    margin: 0 auto;
    z-index: 2;

    @media (max-width: $tablet) {
      gap: 12px;
    }
  }

  &__image-holder {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__image {
    display: flex;
    flex-basis: 978px;
    height: 585px;
    margin: 32px 10px 0;
    background-image: url("/images/intro-graphic.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;

    @media (max-width: $tablet) {
      height: 285px;
    }
  }
}
