@font-face {
  font-family: "Halyard Text", sans-serif;
  src: url("../fonts/Halyard/Halyard Text Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Halyard Display" sans-serif;
  src: url("../fonts/Halyard/Halyard Display Medium.ttf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
