@import "utils";
@import "fonts";
@import "typography";
@import "blocks/button";
@import "blocks/header";
@import "blocks/navigation";
@import "blocks/burger-button";
@import "blocks/introduction";
@import "blocks/about";
@import "blocks/companies";
@import "blocks/benefits-list";

* {
  box-sizing: border-box;
}

body {
  background: $c-gray;
  margin: 0;
}
