/* -----> Colors <----- */
$c-gray: #eee;
$font-blue: #1E266D;
$light-blue: #455880;
$blue-bg: #3751FF;
$white: #fff;
$grey-text: rgba(69, 88, 128, 0.5);
$light-orange: #FFF9EA;

/* -----> Screens <----- */
$large: 1600px;
$notebook: 1280px;
$tablet: 1024px;
$mobile: 420px;
